* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: beige;
}

.preloader {    
    display: grid;
    place-items:  center;
    color: red;
    font-weight: 600;
    font-size: 25px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 14px solid black;
    border-top-color: yellow;
    animation: progress 2s linear infinite;
}

@keyframes progress {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}